<%- include("partials/header.ejs") %>

<link rel="stylesheet" href="styles/style.css">

<br>
<br>
<br>

<body style="background-color: #F7FBE1;">
    <div id="myCarousel" class="carousel slide mb-6 gradient-background"
        data-bs-ride="carousel">

        <div class="carousel-inner">
            <!-- First -->
            <div class="carousel-item active">
                <img src="images/future_1.png" alt style="margin-left: 30%;">

                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="opacity-75" style="color: black;">Electric
                            vehicle: 2030-2035</h1>
                        <p style="color: black;">
                            Yellow represents India. </p>
                    </div>
                </div>
            </div>

            <!-- Second -->
            <div class="carousel-item active">
                <img src="images/future_2.png" alt
                    style="margin-left: 20%;">

                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="opacity-75" style="color: black;">Growth
                            stage
                            venture capital investments in batteries by
                            technology:
                            2010-2023
                        </h1>
                        <p>
                            <img src="images/future_2_footer.png" alt
                                style="margin-right: 6%;">
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button"
            data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button"
            data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <br>
    <br>
    <br>

    <!-- Three divisons for little in depth explaination -->
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row" style="margin-left: 5%;">
            <div class="col-lg-4">
                <h2 class="fw-normal">I.</h2>
                <p>It is estimated that the country’s EV market is expected to
                    grow
                    at a compound annual growth rate (CAGR) of 49% between 2022
                    and
                    2030 and that the annual sales of EVs in 2030 may cross one
                    crore units, leading to the creation of five crore direct
                    and
                    indirect jobs by 2030.
                </p>
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <h2 class="fw-normal">II.</h2>
                <p>Major players in the industry, including OEMs and luxury car
                    makers, are all gearing up to roll out an
                    array of EV models over the next few years.
                    Like as: M&M is set to introduce five new BEVs from January
                    2025
                    and is aiming to cover 20-30% of it's portfolio to be
                    electric
                    by 2027.
                </p>

            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <h2 class="fw-normal">III.</h2>
                <p>The adoption of EVs will not only positively impact the
                    country’s
                    economy but also help in achieving India’s target of net
                    zero
                    emissions by 2070.
                    <span style="color: #65B741; font-weight: 600;"> India is to
                        become a global giant
                        in EV domain
                        by 2030.</span>
                </p>
            </div><!-- /.col-lg-4 -->
        </div>
    </div>
</body>

<%- include("partials/footer.ejs") %>