<!-- Add a header -->
<%- include("partials/header.ejs") %>

<!-- Content -->
<!-- Full template taken from getbootstrap.com website -->
<body style="background-color: #F7FBE1;">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="images/HomePage.gif"
                    class="d-block mx-lg-auto img-fluid"
                    alt="Bootstrap Themes" width="700" height="500"
                    loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1
                    class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Overview
                    about what EVs are</h1>

                <br>
                <p class="lead">From past few years, electric vehicles have
                    come a long way. What has been a new, unusual form of
                    technology
                    at first, has now become a popular, widely known and
                    innovative
                    form of transportation that could help solve omnipresent
                    climate
                    issues and pave the way to a greener, more sustainable way
                    of
                    living. The technology behind electric vehicles is improved
                    significantly, EVs have gotten more affordable and in some
                    cases
                    even are the most rational option from a financial point of
                    view. Electric vehicles are the key technology to
                    decarbonise road transport. These vehicles represent a
                    shift towards cleaner and more sustainable transportation,
                    thereby offering environmental benefits and lower operating
                    costs.</p>

            </div>
        </div>
    </div>
</body>

<!-- Add a footer -->
<%- include("partials/footer.ejs") %>