<%- include("partials/header.ejs") %>

<body style="background-color: #F7FBE1;">
    <div class="container px-4 py-5" id="featured-3">
        <!-- Benefits  -->
        <h2 class="pb-2 border-bottom">Benefits of EV</h2>
        <br>
        <div
            class="row g-4 py-3 row-cols-1 row-cols-lg-3 b_d_background blurry_border">
            <div class="feature col">
                <div
                    class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                </div>
                <h3 class="fs-2 text-body-emphasis">Environmental Benefits</h3>
                <p>Apart from the money you are
                    saving from reduced fuel usage and lower maintenance
                    costs, you are helping with saving the planet also. A
                    battery EV emits zero carbon emissions, which in turn
                    contributes to the fight of climate change and
                    improving air quality within cities.</p>
            </div>

            <div class="feature col">
                <div
                    class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                </div>
                <h3 class="fs-2 text-body-emphasis">Regenerative Braking</h3>
                <p>When you brake an electric
                    vehicle, the vehicle’s engine switches into reverse
                    mode, allowing for the resulting heat to be converted
                    into energy. That energy then is directed back into the
                    battery of the EV, repowering the car with some amount
                    of the energy it lost.</p>
            </div>

            <div class="feature col">
                <div
                    class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                </div>
                <h3 class="fs-2 text-body-emphasis">Fuel Saving</h3>
                <p>All EVs use electricity at
                    least partially to power their engines, this means EVs
                    are
                    reducing the dependence on non-renewable energy sources
                    and in turn enhancing energy security.</p>
            </div>

        </div>

        <br>
        <br>
        <br>

        <h2 class="pb-2 border-bottom">Drawbacks of EV</h2>
        <br>

        <!-- Drawbacks -->
        <div
            class="row g-4 py-3 row-cols-1 row-cols-lg-3 b_d_background blurry_border">
            <div class="feature col">
                <div
                    class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                </div>
                <h3 class="fs-2 text-body-emphasis">Lack of
                    charging infrastructure</h3>
                <p>Currently as adoption of EVs
                    is in progress and has to grow by a high amount of
                    percentage,
                    the number of chargers will also grow accordingly. There
                    definitely is a high demand for charging infrastructure.</p>
            </div>

            <div class="feature col">
                <div
                    class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                </div>
                <h3 class="fs-2 text-body-emphasis">Range
                    anxiety </h3>
                <p>Range is a major issue of
                    concern with the people right now. People are very much
                    concerened about the fact
                    that wheather there vehicle will complete the whole trip
                    in on go or not.</p>
            </div>

            <div class="feature col">
                <div
                    class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                </div>
                <h3 class="fs-2 text-body-emphasis">Missing
                    electic models</h3>
                <p>Apart from producing electric
                    cars,
                    production of other vehicles in electric domain is
                    highlt missing currently.</p>
            </div>
        </div>
    </div>
</body>

<%- include("partials/footer.ejs") %>